html,body{
  width: 100%;
}
.container{
  width: 1090px;
  margin: 0 auto;
}
.container-fluid{
  width: 100%;
  min-width: 1090px;
}
#header{
  height: 176px;
}
.nav-top{
  background-color: #333;
}
.nav-l{
  float: left;
}